
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    background-color: #111827;
    margin: 0;
}
.head {
    text-align: center;
    padding-top: 15vw;
}
.greet {
    color: #60A5FA;
    font-weight: 0.5px;
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif
    ;
}
.vertical-center {
    min-height: 100vh;
    min-height: 100%;
    display: flex;
    text-align: center;
}
.name {
    color: #fff;
    font-size: 48px;
    margin: -2px;
    font-family: 'Roboto', sans-serif;
}
.skill {
    color:#3B82F6;
    margin: 0;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    
}
.text {
    color: #9CA3AF;
    font-size: 16px;
}
.nav {
    background-color: #111827;
    border: #111827;
}
.navbar-toggler {
    border: none !important;
}

button {
   border: none ;
   box-shadow: none !important;
   transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
    box-shadow: none !important;
}

span svg {
    margin-left: -10px;
    position: absolute;
}

.two h3 {
    color: white;
}
.texttwo {
    line-height: 1.5rem;
    color:#9CA3AF;
    margin-top: 2.5em;
}
.two span {
    color: #60A5FA;
}
.technologies {
    color: #9CA3AF;
}

.text-icons {
    color: #9CA3AF;
    text-decoration: none;
    list-style: none;
}

.sec-one {
    padding-bottom: 5%;
    
}
.two {
    padding-top: 12%;
    padding-bottom: 60px;
}
.three {
    padding-bottom: 120px;
}

.three h3{
   color: white;
}
.three h4 {
    color: #3B82F6;
    margin-top: 50px;
}
.right h4 {
    color: #3B82F6;
    margin-top: 80px;
}

.three p {
    color:#9CA3AF;
    max-width: 100%;
}
.three .used {
    color: white;
    font-weight: 500;
}
.three img {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1em;
}
footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: #9CA3AF;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p {
 max-width: 500px;
 margin: 10px auto;
 line-height: 28px;
 font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.socials li {
    margin: 0 5px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}
.socials a svg {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover {
    color: #3B82F6;
}
.footer-bottom {
    width: 100vw;
    padding: 5px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    text-transform: capitalize;
}
.footer-bottom span {
    font-weight:200;
    color:#60A5FA;
}
.one button a {
    text-decoration: none;
    color: white;
    background: none;
}
